pandas==2.3.3
numpy==2.3.3
scikit-learn==1.7.2
joblib==1.5.2
fastapi==0.121.0
uvicorn==0.34.0
python-multipart
python-dotenv==1.1.0
supabase==2.23.2
pwdlib[argon2]
shap==0.48.0
lime==0.2.0.1
xgboost==3.0.5
matplotlib==3.10.6
pydantic-settings==2.12.0
google-auth==2.45.0
authlib==1.6.6
itsdangerous==2.2.0